.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: gray;

}

.app .container {
  max-width: 1368px;
  min-width: 280px;
  width: 100%;
  padding: 0 1rem;

}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
  padding: 0 2rem;
  
}

 /* .search-wrapper {
  height: 50px; 
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: rgba(185, 175, 175, 0.963);
  border-radius: 0.5rem;
  padding: 0 10px; 
  box-sizing: border-box;
  margin: 0 auto;
  position: sticky;
  top: 0;


} */




.search-wrapper {
  height: 50px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(178, 25, 25, 0.963);
  border-radius: 0.5rem;
  padding: 0 10px;
  box-sizing: border-box;
   position: sticky;
  top: 0;
  margin: 0 auto;   
}






.search-wrapper input {
  border: none;
  background: transparent;
  flex: 1; 
  font-size: 1rem;
  outline: none;

}

.search-wrapper .search-icon {
  cursor: pointer;
  font-size: 3.2rem;
  color: #333;
}


.search-wrapper .search-input::placeholder {
  color: rgba(207, 33, 33, 0.754);
}

.search-wrapper .search-btn {
  height: 100%;
  width: 45px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  color: whitesmoke;
  background-color: transparent;
}


.notes-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 991px) {
  .notes-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .notes-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 580px) {
  .container {
    padding: 0 0.8rem;
  }

  .search-wrapper {
    width: 100%;
  }
}