.note-card-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 150px;
  height: 100%;
  border-radius: 0.3rem;
  background-color: white;
  color: #333;
  padding: 1.5rem;
  overflow: hidden;
}


.note-card-wrapper:hover {
  transform: scale(1.05);        
  background-color: #e0f7ff;       
  box-shadow: 0 5px 15px rgba(0,0,0,0.2); 
}



.card-title {
  font-size: 1.2rem;
  line-height: 1.4;
  max-height: calc(1.4em * 2); 
  overflow: hidden;
  word-wrap: break-word;
  cursor: pointer;
}



.card-body {
  margin: 0.5rem 0;
  line-height: 1.5;
  max-height: calc(1.5em * 2); 
  overflow: hidden;
}


.card-details {
  font-size: 14px;
  color: gray;
  cursor: pointer;
  width: fit-content;
}

.card-footer {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-timeline {
  font-size: 14px;
  color: gray;
  font-style: italic;
}

.card-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.action-item {
  cursor: pointer;
  opacity: 0.8;
}

.action-item:hover {
  opacity: 1;
}

.action-item-edit {
  color: rgb(8, 64, 131);
}

.action-item-delete {
  color: rgb(222, 63, 5);
}