.note-details {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  /* display: none; */

  align-items: center;
  justify-content: center;
  z-index: 100;
  backdrop-filter: blur(15px);
}

.details-wrapper {
  width: 40%;
  min-height: 300px;
  padding: 1.5rem;
  background-color: white;
  color: #333;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}